.field--name-diboo-chain-links > *:nth-child(odd) {
  background-color: var(--color--gray-95, #eee);
}
.field--name-diboo-chain-links article {
  display: flex;
}
.field--name-diboo-chain-links article .diboo-core--chain-link-content {
  width: 80%;
}
.field--name-diboo-chain-links article .diboo-core--chain-link-author {
  align-self: flex-end;
  width: 20%;
  text-align: end;
}
