{#
/**
 * @file
 * Default theme implementation to display a node that represents a diboo open chain.
 *
 * Available variables: see node.html.twig
 */
#}
<article{{ attributes }}>

  {{ title_prefix }}
  <h5{{ title_attributes }}>
    {% trans %}More details{% endtrans %}:
  </h5>
  {{ title_suffix }}
    {% trans %}Chain links{% endtrans %}: {{ content.chain_links_count }}
    ({% trans with {'context': 'Gender neutral'} %}last{% endtrans %}
    {{ content.last_chain_link_type }}
    {% trans with {'context': 'Gender neutral'} %}added by{% endtrans %}
    {{ content.last_author }}
    {% trans with {'context': 'Date preposition'} %}on{% endtrans %}
    {{ content.last_chain_link_date }})
    {% if content.current_contributor %}
      {% trans %}Current contributor{% endtrans %}: {{ content.current_contributor }}
    {% endif %}
  {{ content.operations }}

</article>
