{#
/**
 * @file
 * Default theme implementation to display a node as a chain link.
 *
 * Available variables: see node.html.twig
 */
#}
<article{{ attributes }}>

  <div{{ content_attributes.addClass('diboo-core--chain-link-content') }}>
    {{ title_prefix }}
    {# Only phrases should display the title/label #}
    {% if label and not page and node.bundle is same as 'diboo_phrase' %}
      <h2{{ title_attributes }}>
        {{ label }}
      </h2>
    {% endif %}
    {{ title_suffix }}

    {{ content|without('uid') }}
  </div>

  {#
  Only published should display the author.
  For example, there is no author when is displayed as the last
  chain link to add another chain link.
  #}
  {% if node.isPublished %}
  <div class="diboo-core--chain-link-author">
   {{ 'By'|t }} {{ content.uid }}
  </div>
  {% endif %}

</article>
